# ---------------------
# AMBIENTE E DEPENDÊNCIAS
# ---------------------
venv/
.env/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
.eggs/
dist/
build/
pip-wheel-metadata/
*.whl
.pytest_cache/